<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Capstone Project</title>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <h1>Contact Me</h1>
    <table style="margin-left: auto; margin-right: auto; text-align: left; width: 50%;">
        <tr>
            <th>Phone Number:</th>
            <td>085864405869</td>
        </tr>
        <tr>
            <th> Email:</th>
            <td> nicholasryangunawanwork@gmail.com</td>
        </tr>
        
    </table>
    <%- include("partials/footer.ejs") %>
</body>
</html>